.template-acordos{
    h2{
        font-size: rem-calc(12px);
        margin-top:15px;
        @include breakpoint(medium) {
            font-size: rem-calc(18px);
        }
    }
}

.agreements {
    background-color: white;

    img {
        width: 300px;
        display: block;
        margin: 0 auto;
    }

    p {
        text-align: center;
        color: $color-brand-primary;
        font-weight: $font-bold;
        font-size: 18px;
        letter-spacing: 1px;
    }
}