.speciality--type {
  color: $color-brand-primary;
  font-weight: $font-light ;
  text-align: center;
  font-size: rem-calc(40);
  margin-bottom: rem-calc(40);
}

.speciality--card {

  a {
    display: flex;
    cursor: pointer;
    //padding: rem-calc(40) rem-calc(20) rem-calc(40) rem-calc(95);
    //
    .speciality--card__wrapper {
      position: relative;
      background-color: white;
      border: 1px solid $color-grey-light;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      width: 100%;
      height: 115px;
      display: flex;
      align-items: center;

      &:hover, .js-hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 24px 0 rgba(180, 197, 219, 0.7);
        border: 1px solid $color-brand-secondary;

        .speciality--card__circle {
          transform: scale(1.2);
        }

        h3 {
          color: $color-brand-primary;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: rem-calc(40);
        height: rem-calc(40);
      }

      .speciality--card__icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        left: rem-calc(20);
        width: rem-calc(55);
        height: rem-calc(55);

        .speciality--card__circle {
          content: '';
          position: absolute;
          z-index: $content;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: lighten($color-brand-secondary, 45);
          transition: all 0.25s cubic-bezier(0.49, 0.82, 0.03, 1.99);
        }

        img {
          position: relative;
          z-index: $above-content;
          width: rem-calc(40);
        }
      }

      h3 {
        color: darken($color-grey-medium, 20);
        font-weight: $font-medium ;
        padding-left: rem-calc(95);
      }
    }
  }}