article.cssm_speciality, article.cssm_exam, article.cssm_doctor, article.post, article.page {
  header {
    .speciality--image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;


      img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 87% 50%;
        overflow: hidden;

        @include breakpoint(medium){
          object-position: 50% 50%;
        }
      }
    }
  }

  .single--card {
    .speciality--info__doctors {

      h2 {
        &:first-child{
          margin-bottom: 20px;
        }
        &:nth-child(n+2){
          margin-bottom: 10px;
        }
      }

      ul{
        @include breakpoint(medium){
          max-width: 280px;
        }
      }

      .title_especialidade{
        font-size: rem-calc(20px);
        color: $color-grey-text;
        margin: 35px 0 15px;
        font-weight: $font-medium;
      }

      .speciality--doctor {
        margin-bottom: 15px;
        font-size: rem-calc(18px);

        a {
          display: flex;
          align-items: center;
        }

        .speciality--doctor__thumbnail {
          position: relative;
          min-width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $color-brand-secondary;
          border: 1px solid $color-brand-primary;
          overflow: hidden;
          margin-right: 15px;

          img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
          }
        }

        .speciality--doctor__icon{
          background-color: #e6f5f8;
          font-size: 18px;
        }
      }

      .schedule--doctor{
        color: $color-brand-secondary ;
        border-bottom: 1px solid $color-brand-primary;
        line-height: 36px;
        display: flex;
        justify-content: space-between;
        font-size: rem-calc(16px);

        @include breakpoint(large){
          font-size: rem-calc(18px);
        }
      }
    }

    .speciality--info__exams {
      h3 {
        margin-bottom: 20px;
      }

      a {
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
      }
    }
  }

  .speciality--doctor_list{
    list-style: circle;
    margin-left: 20px;
    line-height: 30px;
    font-size: rem-calc(18px);
    margin-bottom: 5px;
  }




  }